<div id="<%= dom_id article %>">
  <p>
    <div><%= image_tag article.logo%></div>
    <div><strong>Title:</strong></div>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= article.tags %>
  </p>

</div>
