<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
  <h1> Add comment </h1>
  <%= render partial: "comments/normal_form", locals: {parent_id: @article.id, parent_type: "article"} %>
  <h1> Comments </h1>
  <div id="comments">
  <%= render @comments %>
  </div>
</div>
