<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class = "flex text-xl justify-center bg-gray-200 flex-row">
      <div>My_Blog</div>
      <% if current_user.present?%>
      <div><%= link_to "Sign out", destroy_user_session_path, data:{"turbo-method": :"delete" }%></div>
      <%else%>
      <div><%= link_to "Sign in", new_user_session_path%></div>
      <div><%= link_to "Sign up", new_user_registration_path%></div>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
