<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-200">
    <% if current_user&.admin?%>
     <div class = "flex text-2xl justify-around bg-red-200 flex-row">
      <div><%=link_to "My_Blog", root_path%></div>
      <div class = "flex justify-end text-xl p-2">
          <% if current_user.present?%>
          <div class = "pr-2"><%= link_to "Sign out", destroy_user_session_path, data:{"turbo-method": :"delete" }%></div>
          <div class = "pl-2"><%= link_to "New Article", new_article_path %></div>
          <%else%>
          <div class = "pr-2"><%= link_to "Sign in", new_user_session_path%></div>
          <div class = "pl-2"><%= link_to "Sign up", new_user_registration_path%></div>
          <%end%>
      </div>
    </div>
     <%else%>
    <div class = "flex text-2xl justify-around bg-indigo-200 flex-row">
      <div><%=link_to "My_Blog", root_path%></div>
      <div class = "flex justify-end text-xl p-2">
          <% if current_user.present?%>
          <div class = "pr-2"><%= link_to "Sign out", destroy_user_session_path, data:{"turbo-method": :"delete" }%></div>
          <div class = "pl-2"><%= link_to "New Article", new_article_path %></div>
          <%else%>
          <div class = "pr-2"><%= link_to "Sign in", new_user_session_path%></div>
          <div class = "pl-2"><%= link_to "Sign up", new_user_registration_path%></div>
          <%end%>
      </div>
    </div>
    <%end%>
    <%= yield %>

  </body>
</html>
